BOT_USER=
BOT_PASSWORD=
BOT_ENV=live
BOT_GAME=rpg
# BOT_URL=

BOT_SUPERUSERS=212607,185871,220073
BOT_MEMBERS=212607,185871,220073

ROOM_NAME=BC RPG [BOT]
ROOM_DESCRIPTION=Capture players and complete quests to earn money!
ROOM_BACKGROUND=
ROOM_PRIVATE=false
ROOM_LOCKED=false
ROOM_SPACE=X
ROOM_BAN=
ROOM_LIMIT=20
ROOM_BLOCK_CATEGORY=
ROOM_GAME=
ROOM_LANGUAGE=EN
ROOM_ADMIN=212607,185871,220073
ROOM_FOG=true

# MONGO_URI=
# MONGO_DB=
